.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input:not(:last-child) {
        margin-bottom: 35px;
        margin-right: 0;
    }
    label {
        margin-left: 30px;
        margin-bottom: 5px;
        font-style: 16px;
        width: 100%;
    }
    input[type='submit'] {
        width: 150px;
        background-color: #6ED2B7;
        color: white;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0px 0px 15px 0px rgba(13, 17, 23, 0.15);
        &:hover {
            background-color: darken($color: #6ED2B7, $amount: 10);
            box-shadow: 0px 0px 25px 0px rgba(13, 17, 23, 0.25);
        }
    }
}

h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}