@import url('./reset.css');
body {
    background-color: #FCFBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans Display', sans-serif;
    color: #383E50;
}
.popup-overlay {
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
}